@charset "utf-8";
/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul,ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: middle;
	border: none;
}
body {
    font-family: "Roboto Condensed" , "Noto Sans KR" , sans-serif;
}


.container {
	width: 300px;
	height: 500px;
    overflow: hidden;
	background: url(../images/skatingboard_bg.png);
	background-size: cover;
	position: relative;
	/* transform: rotate(12deg); */
}
.wrapper {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(12deg);
}

.test1 {	
	animation-name: roll;
	animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes roll {
	from {
		transform: translatex(0);
	}
	to{
		transform: translatex(-100%);
	}
}
